<%- include('partials/header.ejs') %>

    <body>
        <%- include ('partials/navbar.ejs') %>

            <% pergunta.forEach(pergunta=>{ %>

                <h3>
                    <%=pergunta.titulo %>
                </h3>
                <p>
                    <%=pergunta.descricao %>
                </p>

                <% }) %>

    </body>
    <%- include ('partials/footer.ejs') %>